@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Edit";
}
<div class="custom-container">
    <h1 class="page-title">Edit</h1>

    <h4 class="subheading">Movie</h4>
    <hr />
    <div class="row fillup-group">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genre" class="control-label"></label>
                    <input asp-for="Genre" class="form-control" />
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DirectorID" class="control-label"></label>
                    <select class="form-control" asp-for="DirectorID" asp-items="@ViewBag.Directors" id="dropdown">
                        <option value="" selected>Choose here</option>
                    </select>
                    <input type="text" name="textbox" id="textbox" class="form-control inactive" placeholder="New Director" />
                    <input type="checkbox" name="checkbox" id="checkbox" onclick="toggleCheck()" />
                    <label for="checkbox">Add a New Director</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="button-submit" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="back-to-list">Back to List</a>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
