.hero-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.cta-section {
    margin-top: 5rem;
    width: 40%;
}

.greetings {
    font-size: 2.5rem;
    margin: 4rem 0 2rem;
}

.greetings-sub {
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.cta {
    padding: 12px;
    border-radius: 3px;
    background: #ffeeaa;
    color: black;
    font-weight: 600;
}

    .cta:hover {
        color: black;
        background: #d0ba63;
    }
